.ctn-per-jour {
  margin-bottom: var(--margin-between-form-group);
}

one-checkbox-tag-group {
  padding-left: var(--padding-container);
}

div.ctn-repeat-every {
  display: flex;
  gap: var(--margin-between-form-controls);
  padding-left: var(--padding-container);

  & span {
    align-content: center;
  }
}
