@use '../../../../../styles/variables' as vars;

.ctn-per-jour {
  margin-bottom: vars.$margin-between-form-group;
}

one-checkbox-tag-group {
  padding-left: vars.$padding-container;
}

div.ctn-repeat-every {
  display: flex;
  gap: vars.$margin-between-form-controls;
  padding-left: vars.$padding-container;

  & span {
    align-content: center;
  }
}
