@use '@coach-me/cm-ds/theme/theme' as theme;

#task-repetition-rule {
  @include theme.default-selectable-style;

  padding: var(--padding-sub-container);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;

  & .repetitionRuleType,
  & .startEnd {
    font-size: 0.85rem;
  }

  & div.flex-row {
    justify-content: space-between;
  }

  & .ctn-repetition-type > p,
  & .ctn-repetition-type > span {
    margin: auto 0;
  }
}
