@use '@coach-me/cm-ds/theme/theme' as theme;

:host {
  button {
    height: var(--button-height);
    padding: var(--button-padding);
    cursor: pointer;
    border-radius: var(--border-radius);

    &.primary {
      width: 100%;
      padding: 8px;
      color: var(--color-txt-light);
      border: none;
      background-color: var(--color-main);

      &:active,
      &:hover {
        border: none;
        background-color: var(--color-main-hover);
      }
    }

    &.complementary {
      width: 100%;
      padding: 8px;
      color: var(--color-txt-light);
      border: none;
      background-color: var(--color-complementary);

      &:active,
      &:hover {
        border: none;
        background-color: var(--color-complementary-hover);
      }
    }

    &.default {
      width: 100%;
      @include theme.default-selectable-style;
    }

    &.icon {
      background-color: transparent;
      border: none;
      font-size: inherit;
      width: 34px;
      height: 34px;

      & fa-icon {
        margin: 0;
      }

      &:hover {
        border: none;
        color: var(--color-main);
      }
    }

    &.tab {
      border: none;
      background-color: transparent;
    }
  }
}

.shockwave {
  animation: button-shadow-main-shockwave 1s;
}

.complementary.shockwave {
  animation: button-shadow-complementary-shockwave 1s;
}

@mixin shockwave($name, $color) {
  @keyframes button-shadow-#{$name}-shockwave {
    0% {
      box-shadow: 0 0 0 0 #{$color}80;
    }
    15% {
      box-shadow: 0 0 0 1px #{$color}80;
    }
    30% {
      box-shadow: 0 0 0 2px #{$color}40;
    }
    45% {
      box-shadow: 0 0 0 3px #{$color}20;
    }
    60% {
      box-shadow: 0 0 3px 7px #{$color}00;
    }
    75% {
      box-shadow: 0 0 5px 7px #{$color}00;
    }
    90% {
      box-shadow: 0 0 7px 7px #{$color}00;
    }
    100% {
      box-shadow: 0 0 7px 7px #{$color}00;
    }
  }
}

@include shockwave('main', var(--color-main));
@include shockwave('complementary', var(--color-complementary));
