<div class="toastr-container">
  @for (toast of toasts; track toast.id) {
    <div @toastAnimation [ngClass]="toast.type" class="toast">
      <div class="toast-icon">
        <fa-icon [icon]="toast.icon"></fa-icon>
      </div>
      <div class="toast-content">
        <div class="toast-title">{{ toast.title }}</div>
        <div class="toast-message">{{ toast.message }}</div>
      </div>
      <cm-button (click)="removeToast(toast.id)" class="close-btn">x</cm-button>
      <div class="toast-loader"></div>
    </div>
  }
</div>
