:host {
  margin: auto;
}

form.card {
  flex-direction: column;
  width: 400px;
  margin: auto;
}

form.card label {
  margin-bottom: 4px;
}

form.card .default {
  margin-bottom: 10px;
}

form.card one-button {
  margin-top: 20px;
}
