<form (ngSubmit)="onClickSubmit()" [formGroup]="signInForm">
  <fieldset class="card">
    <legend>Connexion</legend>
    <one-input-text
      [cssClassInput]="['default']"
      [isRequired]="true"
      formControlName="email"
      id="email"
      label="E-mail"
      labelPosition="top"
      placeholder="Entrez votre adresse e-mail"
    ></one-input-text>
    @if (this.signInForm.get('email')?.errors?.['require']) {
      <span>L'adresse e-mail est obligatoire</span>
    }

    <one-input-text
      [cssClassInput]="['default']"
      [isRequired]="true"
      formControlName="password"
      id="password"
      label="Mot de passe"
      labelPosition="top"
      placeholder="Entrez votre mot de passe"
    ></one-input-text>
    @if (this.signInForm.get('password')?.errors?.['require']) {
      <span>Le mot de passe est obligatoire</span>
    }
    <one-button type="submit" typeCss="primary">Sign in</one-button>
  </fieldset>
</form>
