:host {
  margin: auto;
}

form fieldset.card {
  flex-direction: column;
  width: 400px;
  margin: auto;

  & label {
    margin-bottom: 4px;
  }

  & .default {
    margin-bottom: 10px;
  }

  & one-button {
    margin-top: 20px;
  }
}
