@use '../../../../../styles/variables' as vars;

:host {
  margin: auto;
}

form fieldset.card {
  flex-direction: column;
  width: 400px;
  margin: auto;

  & one-button {
    margin-top: 20px;
  }
}
