@use '../../../../../styles/variables' as vars;

.ctn-per-jour one-radio,
.ctn-regular one-radio {
  margin: 0 0 vars.$margin-between-form-controls 0;
}

.ctn-per-jour one-checkbox-tag,
.ctn-regular p {
  margin: 0 0 0 20px;
}

.ctn-per-jour {
  margin: 0 0 vars.$margin-between-form-controls 0;
}
