<div [formGroup]="weeklyForm()" class="flex-col" id="one-task-frequency-weekly">
  <div class="ctn-per-jour flex-col">
    <one-radio
      [id]="FrequencyType.WEEKLY_BY_DAY"
      [label]="FrequencyType.WEEKLY_BY_DAY.valueOf()"
      [value]="FrequencyType.WEEKLY_BY_DAY"
      formControlName="frequencyType"
      name="frequencyType"
    >
      <one-checkbox-tag-group
        [options]="WEEK_DAY_OPTS"
        formControlName="weekDays"
      ></one-checkbox-tag-group>
    </one-radio>
  </div>

  <div class="ctn-regular flex-col">
    <one-radio
      [id]="FrequencyType.WEEKLY_REGULAR"
      [label]="FrequencyType.WEEKLY_REGULAR.valueOf()"
      [value]="FrequencyType.WEEKLY_REGULAR"
      formControlName="frequencyType"
      name="frequencyType"
    >
      <div class="ctn-repeat-every">
        <one-input-number
          [id]="'jours'"
          [max]="7"
          cssInputClass="default"
          formControlName="repeatEvery"
          labelPosition="hidden"
        ></one-input-number>
        <span> jour(s) sur </span>
        <one-input-number
          [id]="'periode'"
          [max]="7"
          cssInputClass="default"
          formControlName="periodLength"
          labelPosition="hidden"
        ></one-input-number>
      </div>
    </one-radio>
  </div>
</div>
