<div [formGroup]="weeklyForm()" class="flex-col" id="one-task-frequency-weekly">
  <div class="ctn-per-jour flex-col">
    <one-radio
      [formValue]="FrequencyType.WEEKLY_BY_DAY"
      [group]="'weeklyType'"
      [id]="'perDayInput'"
      [label]="'Par jour'"
      formControlName="frequencyType"
    ></one-radio>

    <one-checkbox-tag-group
      [options]="WEEK_DAY"
      formControlName="selectedDays"
    ></one-checkbox-tag-group>
  </div>

  <div class="ctn-regular flex-col">
    <one-radio
      [formValue]="FrequencyType.WEEKLY_REGULAR"
      [group]="'weeklyType'"
      [id]="'perRepetitionInput'"
      [label]="'Régulier'"
      formControlName="frequencyType"
    ></one-radio>

    <p>
      <one-input-number
        [id]="'jours'"
        [labelIsHidden]="true"
        [label]="'Nombre de jours'"
        [max]="7"
        formControlName="repeatEvery"
      ></one-input-number>
      <span> jour(s) sur </span>
      <one-input-number
        [id]="'periode'"
        [labelIsHidden]="true"
        [label]="'Période totale (en jours)'"
        [max]="7"
        formControlName="periodLength"
      ></one-input-number>
    </p>
  </div>
</div>
