@use '../../../../../styles/variables' as vars;

.default {
  &.selected:not(:disabled),
  &:focus:not(:disabled) {
    box-shadow: none;
  }
}

span,
input,
label {
  cursor: pointer;
}

span.ctn-input {
  width: fit-content;
}

span.ctn-input,
.sub-container-radio {
  margin-bottom: vars.$margin-between-form-controls;
}

.sub-container-radio {
  padding-left: vars.$padding-container;
}

input {
  border-radius: 100%;
  width: 14px;
  height: 14px;

  &:checked {
    width: 14px;
    height: 14px;
    margin: 3px 6px 0 0;
  }

  &:not(:checked) {
    border: vars.$border-gray;
    appearance: none;
    -webkit-appearance: none;
    margin: 3px 6px 0 0;
  }
}
