@use '../../../../../styles/variables' as vars;

@mixin visually-hidden {
  &.visually-hidden {
    margin-left: 0;
  }
}

span {
  label {
    align-content: center;
  }

  &.wrapper-input.top label {
    margin-bottom: vars.$margin-between-label-input;
    @include visually-hidden;
  }

  &.wrapper-input.bottom label {
    margin-top: vars.$margin-between-label-input;
    @include visually-hidden;
  }

  &.wrapper-input.left label {
    margin-right: vars.$margin-between-label-input;
    @include visually-hidden;
  }

  &.wrapper-input.right label {
    margin-left: vars.$margin-between-label-input;
    @include visually-hidden;
  }
}
