#one-table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  &:hover {
    background-color: var(--color-main-light-hover);

    & * {
      background-color: var(--color-main-light-hover);
    }
  }

  &.selected {
    background-color: var(--color-main-light);

    & * {
      background-color: var(--color-main-light);
    }
  }
}
