// Margin

// Top
.mt-2 {
  margin-top: 10px !important;
}
// Right
.mr-2 {
  margin-right: 10px !important;
}
// Bottom
.mb-2 {
  margin-bottom: 20px !important;
}

.mb-3 {
  margin-bottom: 30px !important;
}
// Left
