@use '@coach-me/cm-ds/theme/theme' as theme;

/*** RESET ***/
html,
body {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  font-family: var(--font-familly);
  box-sizing: border-box;
  font-size: var(--font-size-normal);
  color: var(--color-txt-dark);
  background-color: var(--color-global-bg);
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

input,
textarea,
button {
  font-family: var(--font-familly);
  outline: none;
  accent-color: var(--color-main);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*** COMMON ***/
.card {
  display: flex;
  flex-direction: column;
  padding: var(--padding-container);
  border: var(--border-gray);
  border-radius: var(--border-radius-medium);
  background-color: var(--color-white);
  gap: 1rem;
}

* {
  transition: var(--transition-default);
}

.default {
  @include theme.default-selectable-style;
}

.error-message {
  color: var(--color-message-error);
  font-size: var(--font-size-error-message);
}

fa-icon {
  margin: var(--margin-icon);
}
