@use './variables' as vars;

/*** RESET ***/
html,
body {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  font-family: vars.$font-familly;
  box-sizing: border-box;
  font-size: vars.$font-size-normal;
  color: vars.$color-txt-dark;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

input,
textarea,
button {
  font-family: vars.$font-familly;
  outline: none;
  accent-color: vars.$color-main;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*** COMMON ***/
.card {
  padding: 16px;
  border-radius: vars.$border-radius;
  display: flex;
}

* {
  transition: vars.$transition-default;
}

input.classic[type='date'] {
  padding: 0 0 0 4px;
}

input.classic[type='text'],
input.classic[type='password'],
textarea.classic[type='text'] {
  height: vars.$height-input-text;
  padding: vars.$padding-input-text;
}

input.classic:not([type='checkbox']),
textarea.classic {
  border-radius: vars.$border-radius;
  border: vars.$border-gray;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    border: 1px solid vars.$color-main;
  }

  &:focus:not(:disabled) {
    box-shadow: 0 0 1px 1px vars.$color-main-hover;
  }
}

.input-invisible {
  width: 100%;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
}

.error-message {
  color: vars.$color-message-error;
  font-size: vars.$font-size-error-message;
}

fa-icon {
  margin: vars.$margin-icon;
}
