// Color
$color-message-error: #a94442;
$color-message-warning: #a97c42;
$color-message-success: #49a942;

$color-main: #4094e4;
$color-main-hover: #9fc9f1;
$color-main-light: #dcebff;
$color-main-light-hover: #edf5ff;
$color-main-disabled: #f0f4ff;

$color-complementary: #da6900;
$color-complementary-hover: #ecb47f;
$color-complementary-light: #ffcbba;
$color-complementary-light-hover: #ffe5dc;
$color-complementary-disabled: #ffede8;

$color-gray: #c6c7ca;

$color-txt-light: #ffffff;
$color-txt-dark: #2e3036;

// Task state
$color-task-todo: #36373b;
$color-task-done: #49a942;
$color-task-canceled: #a94442;

// Spacing
$padding-container: 20px;
$padding-sub-container: 8px;
$margin-right-icon: 6px;
$margin-icon: 0 $margin-right-icon 0 0;

// Font
$font-familly: 'Montserrat', 'sans-serif', 'Inter', sans-serif;
$font-size-normal: 1rem;
$font-size-error-message: 0.8rem;

// Layout
$width-menu: 150px;
$width-main-layout: 50%;
$width-right-layout: calc(100% - $width-menu - $width-main-layout);
$layour-padding: 40px;

// Size
// Input
$height-input-text: 12px;
$padding-input-text: 10px;
$size-task-state: 20px;

// Button
$button-height: 30px;
$button-padding: 6px;

// Border
$border-gray: 1px solid $color-gray;
$border-main-color: 1px solid $color-main;
$border-layout: 2px solid $color-gray;
$border-radius: 2px;
$border-radius-checkbox: 6px;

// Input
$input-padding: 2px;

// Transition
$transition-default:
  background-color 0.15s,
  color 0.15s,
  border 0.15s,
  box-shadow 0.15s;

@mixin default-border-and-color {
  border: $border-gray;
  color: $color-txt-dark;
  background-color: transparent;

  &:hover {
    border: $border-main-color;
    color: $color-main;
  }
}
