// Color
$color-message-error: #a94442;
$color-message-warning: #a97c42;
$color-message-success: #49a942;

// blue
$color-main: #1c73ff;
$color-main-hover: #88afec;
$color-main-disabled: #b4ccff89;
$color-main-light: #dae4ff;

// TODO: Uniformiser les gris
$color-light: rgba(180, 204, 255, 0.54);
$color-hover: #f3f6ffff;
$color-white: white;

$font-color-main: #414141;

$dark-gray: #65696f;
$border-color-gray: #dadfec;

// Task state
$color-task-todo: #414141;
$color-task-done: #49a942;
$color-task-canceled: #a94442;

// Spacing
$padding-container: 20px;
$padding-sub-container: 8px;
$margin-right-icon: 6px;
$margin-icon: 0 $margin-right-icon 0 0;

// Font
$font-familly: 'Montserrat', 'sans-serif', 'Inter', sans-serif;
$font-size-normal: 1rem;
$font-size-error-message: 0.8rem;

// Layout
$width-menu: 150px;
$width-main-layout: 50%;
$width-right-layout: calc(100% - $width-menu - $width-main-layout);
$layour-padding: 40px;

// Size
// Input
$height-input-text: 12px;
$padding-input-text: 10px;
$size-task-state: 20px;

// Button
$button-height: 30px;
$button-padding: 6px;

// Border
$border-radius: 2px;
$border: 1px solid $border-color-gray;
$border-layout: 2px solid $border-color-gray;

// Input
$input-padding: 2px;
