@use '../../../../../styles/variables' as vars;

#task-frequency-rule {
  @include vars.default-selectable-style;

  padding: vars.$padding-sub-container;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

div.flex-row {
  gap: 40px;
}
