@use '../../../../../styles/variables' as vars;

#task-frequency-rule {
  @include vars.default-selectable-style;

  padding: vars.$padding-sub-container;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;

  & .frequencyType,
  & .startEnd {
    font-size: 0.85rem;
  }

  & div.flex-row {
    justify-content: space-between;
  }

  & .ctn-frequency-type > p,
  & .ctn-frequency-type > span {
    margin: auto 0;
  }
}
