@use '../../../../../styles/variables' as vars;

#task-frequency-rule {
  @include vars.default-selectable-style;

  padding: vars.$padding-sub-container;
  display: flex;
  flex-direction: column;
  gap: 4px;

  & .frequencyType,
  & .startEnd {
    font-size: 0.85rem;
  }

  & div.flex-row {
    justify-content: space-between;
  }

  & .prefixFrequencyWeeklyPerDay .frequencyType {
    text-decoration: underline;
  }
}
