@import "../../../../../styles/variables";

:host {
  width: 100%;
}

.grid {
  display: grid;

  & .header {
    background-color: $color-light;
    grid-column: 1 / 999;
    border: $border;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    padding: 10px 20px;
  }

  & .expended-content {
    padding: 8px;
    width: 100%;
    grid-column: 1 / 999;
  }
}
