<div>
  <div class="container-profil">
    <div class="icon-profil">
      <fa-icon [icon]="faUser"></fa-icon>
    </div>
    <p>Kylian</p>
  </div>
  <nav>
    <ul>
      <li>
        <a ariaCurrentWhenActive="page" routerLink="/task" routerLinkActive="active">
          <fa-icon [icon]="faCircleCheck"></fa-icon>Task home
        </a>
      </li>
      <li>
        <a ariaCurrentWhenActive="page" routerLink="/cook" routerLinkActive="active">
          <fa-icon [icon]="faUtensils"></fa-icon>Cook home
        </a>
      </li>
    </ul>
  </nav>
</div>
<cm-button (click)="onClickLogout()">
  <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
  Se déconnecter
</cm-button>
