@use '../../../../../styles/variables' as vars;

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: vars.$layour-padding;
  border-right: vars.$border-layout;
}

fa-icon {
  color: vars.$color-main;
}

.container-profil {
  display: flex;
  margin-bottom: 70px;

  & .icon-profil {
    padding: 10px;
    border-radius: 1000px;
    border: vars.$border;
    margin: vars.$margin-icon;

    & fa-icon {
      display: block;
      margin: 0;
      width: 20px;
      height: 20px;
      text-align: center;
    }
  }

  & p {
    margin: auto 0;
  }
}

nav {
  width: vars.$width-menu;
}

li {
  border-radius: vars.$border-radius;
  padding: 5px 0 5px 10px;
  margin: 0 0 10px 0;

  & a {
    display: block;
  }
}

li:hover,
li:has(a.active) {
  background-color: vars.$color-hover;
}
