:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--layout-padding-small);
  border-right: var(--border-layout);
}

.container-profil {
  display: flex;
  margin-bottom: 70px;

  & .icon-profil {
    padding: 10px;
    border-radius: 1000px;
    border: var(--border-gray);
    margin: var(--margin-icon);

    & fa-icon {
      display: block;
      margin: 0;
      width: 20px;
      height: 20px;
      text-align: center;
    }
  }

  & p {
    margin: auto 0;
  }
}

nav {
  width: var(--width-menu);

  & li {
    border-radius: var(--border-radius);
    padding: 10px 20px;
    margin: 0 0 10px 0;

    color: var(--color-txt-dark);

    &:hover {
      background-color: var(--color-main-light-hover);
    }

    &:has(a.active) {
      background-color: var(--color-main-light);
      color: var(--color-main);

      & fa-icon {
        color: var(--color-main);
      }
    }

    & a {
      display: block;
    }
  }
}
