@use "../../../styles/variables" as vars;

:host {
  height: 100%;
  width: 100%;
  display: flex;
}

.left-part {
  width: vars.$width-layout-middle;
  border-right: vars.$border-layout;
  padding: 20px;
}

.right-part {
  width: vars.$width-layout-right;
  padding: 20px;

  &.collapsed {
    display: none;
  }
}
