@use '../../../../../styles/variables' as vars;

:host {
  width: 70%;
}

.header {
  margin: 0 0 10px 0;
}

.task {
  border-right: vars.$border;
  border-left: vars.$border;
  padding: 10px 20px 10px 20px;

  &:last-child {
    border-bottom: vars.$border;
    border-bottom-left-radius: vars.$border-radius;
    border-bottom-right-radius: vars.$border-radius;
  }

  &:hover {
    & * {
      background-color: vars.$color-hover;
    }
    background-color: vars.$color-hover;
  }

  &.selected {
    background-color: vars.$color-main-light;
    & * {
      background-color: vars.$color-main-light;
    }

    .main-informations {
      padding-bottom: 0;
    }

    .details {
      padding-top: 0;
    }
  }

  &:not(.selected) {
    .details {
      display: none;
    }
  }

  border-top: vars.$border;
  .main-informations {
    display: grid;
    grid-template-columns: 20px auto 30px;
    grid-gap: 20px;
    align-items: center;

    & .task-todo,
    & .task-done,
    & .task-canceled {
      width: vars.$size-task-state;
      height: vars.$size-task-state;
    }

    & .task-todo {
      color: vars.$color-task-todo;
    }

    & .task-done {
      color: vars.$color-task-done;
    }

    & .task-canceled {
      color: vars.$color-task-canceled;
    }
  }
}
