@use "../../../../../styles/variables" as vars;

.header {
  margin: 0 0 10px 0;
}

.row {
  display: grid;
  grid-template-columns: 20px auto 30px;
  border-top: vars.$border;
  border-right: vars.$border;
  border-left: vars.$border;
  padding: 5px 20px;
  grid-gap: 20px;
  align-items: center;

  &:hover {
    background-color: vars.$color-hover;

    & * {
      background-color: vars.$color-hover;
    }
  }

  &:last-child {
    border-bottom: vars.$border;
    border-bottom-left-radius: vars.$border-radius;
    border-bottom-right-radius: vars.$border-radius;
  }

  &.selected {
    background-color: vars.$color-main-light;

    & * {
      background-color: vars.$color-main-light;
    }
  }

  & .task-todo,
  & .task-done,
  & .task-canceled {
    width: vars.$size-task-state;
    height: vars.$size-task-state;
  }

  & .task-todo {
    color: vars.$color-task-todo;
  }

  & .task-done {
    color: vars.$color-task-done;
  }

  & .task-canceled {
    color: vars.$color-task-canceled;
  }
}
