<div id="one-table" class="grid">
  <div class="header">
    <span>Due today</span>
  </div>
  @for (task of tasks(); track task.id) {
  <div [class]="getSelectedClass(task)" (click)="onClickRow(task)">
    <div (click)="onCheck(task)" class="task-state">
      @switch (task.status) {
      @case (TaskStatus.Todo) {
      <fa-icon class="task-todo" [icon]="faCircle"></fa-icon>
      }
      @case (TaskStatus.Done) {
      <fa-icon class="task-done" [icon]="faCircleCheck"></fa-icon>
      }
      @case (TaskStatus.Canceled) {
      <fa-icon class="task-canceled" [icon]="faTimesCircle"></fa-icon>
      }
      }
    </div>

    @if (isSelectedTask(task)) {
    <form [formGroup]="inlineTaskForm" class="task-name">
      <input formControlName="name" class="input-invisible" />
    </form>
    } @else {
    <span>{{ task.name }}</span>
    }

    <!-- <one-tag [libelle]="'test'" [color]="'blue'"></one-tag> -->

    <button (click)="onDelete(task, $event)" class="btn-icon">
      <fa-icon [icon]="faTrashCan"></fa-icon>
    </button>
  </div>
  }
</div>