<div class="grid card" id="one-table">
  <div class="header">
    <span>Due today</span>
  </div>
  <div>
    @for (task of tasks(); track task.id) {
      <div
        (click)="onClickRow(task)"
        (contextmenu)="onClickRow(task)"
        [class]="getSelectedClass(task)"
        [formGroup]="taskForm"
      >
        <div class="main-informations">
          <div (click)="onCheck(task)" class="task-state">
            @switch (task.status) {
              @case (TaskStatus.TODO) {
                <fa-icon [icon]="faCircle" class="task-todo"></fa-icon>
              }
              @case (TaskStatus.DONE) {
                <fa-icon [icon]="faCircleCheck" class="task-done"></fa-icon>
              }
              @case (TaskStatus.CANCELED) {
                <fa-icon [icon]="faTimesCircle" class="task-canceled"></fa-icon>
              }
            }
          </div>

          @if (isSelectedTask(task)) {
            <div class="task-name">
              <input class="borderless" formControlName="name" />
            </div>
          } @else {
            <span>{{ task.name }}</span>
          }

          <!-- <coach-me-tag [libelle]="'test'" [color]="'blue'"></coach-me-tag> -->

          <cm-button (clickEvent)="onDelete(task)" typeCss="icon">
            <fa-icon [icon]="faTrashCan"></fa-icon>
          </cm-button>
        </div>
        <div class="details">
          <input class="borderless" formControlName="description" placeholder="Description" />
        </div>
      </div>
    }
  </div>
</div>
