:host {
  width: inherit;
  padding: 40px 40px 0 40px;
}

.card {
  gap: 0;
}

.header {
  margin: 0 0 10px 0;
}

.task {
  border-right: var(--border-gray);
  border-left: var(--border-gray);
  padding: 10px 20px 10px 20px;

  &:first-child {
    border-radius: var(--border-radius) var(--border-radius 0 0);
  }

  &:last-child {
    border-bottom: var(--border-gray);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  &:hover {
    & * {
      background-color: var(--color-main-light-hover);
    }
    background-color: var(--color-main-light-hover);
  }

  &.selected {
    background-color: var(--color-main-light);
    & * {
      background-color: var(--color-main-light);
    }

    .main-informations {
      padding-bottom: 0;
    }

    .details {
      padding-top: 0;
    }
  }

  &:not(.selected) {
    .details {
      display: none;
    }
  }

  border-top: var(--border-gray);
  .main-informations {
    display: grid;
    grid-template-columns: 20px auto 30px;
    grid-gap: 20px;
    align-items: center;

    & .task-todo,
    & .task-done,
    & .task-canceled {
      width: var(--size-task-state);
      height: var(--size-task-state);
    }

    & .task-todo {
      color: var(--color-task-todo);
    }

    & .task-done {
      color: var(--color-task-done);
    }

    & .task-canceled {
      color: var(--color-task-canceled);
    }
  }
}
