<form (ngSubmit)="onSubmitTask()" [formGroup]="taskForm" class="mb-3">
  <fieldset class="card">
    <legend>Création d'une tâche</legend>

    <one-input-text
      cssInputClass="default"
      formControlName="name"
      id="name"
      label="Nom"
      placeholder="Nom"
    />
    <one-input-textarea
      cssInputClass="default"
      formControlName="description"
      id="description"
      label="Description"
      placeholder="Description"
    ></one-input-textarea>

    <one-tabs [formGroup]="frequencyRuleForm">
      <one-tab [label]="Frequency.WEEKLY">
        <ng-template>
          <one-task-frequency-weekly [weeklyForm]="weeklyRule"></one-task-frequency-weekly>
        </ng-template>
      </one-tab>
      <one-tab [label]="Frequency.MONTHLY"><ng-template>MONTHLY</ng-template></one-tab>
      <one-tab [label]="Frequency.FIX"><ng-template>FIX</ng-template></one-tab>

      <div commonContent>
        <div class="ctn-start-frequency flex-row">
          <label class="mr-2">Début</label>
          <input class="default" formControlName="startDate" type="date" />
        </div>

        <div class="ctn-end-frequency flex-row">
          <label class="mr-2">Fin</label>
          <one-select
            [options]="END_FREQUENCY"
            formControlName="end"
            id="frequencyEnd"
          ></one-select>

          @if (['date'].includes(endFrequencyValue)) {
            <input class="default" formControlName="endDate" type="date" />
          } @else if (['nbOccurence'].includes(endFrequencyValue)) {
            <one-input-number
              [id]="'nbOccurence'"
              formControlName="endNbOccurence"
              cssInputClass="default"
            ></one-input-number>
          }
        </div>
        <div class="ctn-btn-add-frequency">
          <one-button (click)="onAddFrequencyRule()" typeCss="complementary"
            >Ajouter la règle de répétition</one-button
          >
          @if (!!this.selectedfrequencyRuleIndex()) {
            <one-button (click)="onCancelEditFrequencyRule()">Annuler</one-button>
          }
        </div>
      </div>
    </one-tabs>

    @for (frequencyRule of frequencyRules.controls; track $index) {
      <one-task-frequency-rule
        [isSelected]="selectedfrequencyRuleIndex() === $index"
        [frequencyRule]="formRuleToDomain(frequencyRule.getRawValue())"
        (select)="onEditFrequencyRule($index)"
        (delete)="onDeleteFrequencyRule($index)"
      ></one-task-frequency-rule>
    }

    <one-button type="submit">Ajouter</one-button>
  </fieldset>
</form>
