@use '../../../../../styles/variables' as vars;

:host {
  max-width: 30%;
  min-width: 400px;
  padding: vars.$layour-padding vars.$layour-padding 0 vars.$layour-padding;
  border-left: vars.$border-layout;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & button[type='submit'] {
    width: 100px;
  }

  & textarea {
    resize: vertical;
  }

  div[commonContent] {
    padding: 10px;
  }

  .ctn-start-frequency {
    margin: 0 0 20px 0;

    & one-select {
      margin-right: 10px;
    }
  }

  .ctn-end-frequency {
    & one-select {
      margin-right: 10px;
    }
  }
}
