@use '../../../../../styles/variables' as vars;

:host {
  max-width: 30%;
  min-width: 400px;
  padding: vars.$layout-padding-small vars.$layout-padding-small 0 vars.$layout-padding-small;
  border-left: vars.$border-layout;
}

form fieldset {
  & button[type='submit'] {
    width: 100px;
  }

  & textarea {
    resize: vertical;
  }

  div[commonContent] {
    padding: 10px;

    .ctn-start-frequency {
      margin: 0 0 vars.$margin-between-form-controls 0;

      & one-select {
        margin: 0 vars.$margin-between-form-controls 0 0;
      }
    }

    .ctn-end-frequency {
      & one-select {
        margin: 0 vars.$margin-between-form-controls 0 0;
      }

      margin: 0 0 vars.$margin-validation-button 0;
    }

    .ctn-btn-add-frequency {
      display: flex;
      justify-content: center;
    }
  }
}
