@use '../../../../../styles/variables' as vars;

:host {
  max-width: 20%;
  min-width: 400px;
  padding: 20px 20px 0 20px;
  border-left: 2px solid #c6c7ca;
  width: 100%;
}

form {
  margin-bottom: 30px !important;

  & fieldset {
    & button[type='submit'] {
      width: 100px;
    }

    & textarea {
      resize: vertical;
    }

    div[commonContent] {
      .ctn-start-repetition {
        margin: 0 0 var(--margin-between-form-controls) 0;

        & one-select {
          margin: 0 var(--margin-between-form-controls) 0 0;
        }
      }

      .ctn-end-repetition {
        & one-select {
          margin: 0 var(--margin-between-form-controls) 0 0;
        }

        margin: 0 0 var(--margin-validation-button) 0;
      }

      .ctn-btn-add-repetition {
        one-button:first-child {
          width: 100%;
        }

        display: flex;
        flex-direction: row;
        gap: var(--margin-between-form-controls);
      }
    }

    .task-form-buttons {
      width: 100%;
      gap: var(--margin-between-form-controls);

      one-button:first-child {
        flex: 2;
      }

      one-button:last-child {
        flex: 1;
      }
    }
  }
}
