<one-layout [openedRightSide]="!!selectedTask">
  <div class="container" left-part>
    <div class="mb-2">
      <input
        (keyup.enter)="onClickAddTask()"
        [formControl]="taskControl"
        class="mr-2"
        type="text"
      />
      <button (click)="onClickAddTask()">Ajouter</button>
    </div>

    <div class="grid">
      <div class="header">
        <span>Due today</span>
      </div>
      @for (task of tasks; track task.id) {
        <one-task-row
          [task]="task"
          (selected)="onSelectTask($event, task)"
          (updateName)="onUpdateTaskName($event, task)"
          (check)="onCheckTask($event, task)"
          (delete)="onDeleteTask($event)"
        ></one-task-row>
      }
    </div>
  </div>
  <ng-container class="expended-content" right-part>
    @if (selectedTask) {
      <one-task-details [task]="selectedTask" (update)="onUpdateTask($event)"></one-task-details>
    }
  </ng-container>
</one-layout>
