<one-layout [openedRightSide]="!!selectedTask">
  <div class="container" left-part>
    <div class="mb-2">
      <input
        (keyup.enter)="onClickAddTask()"
        [formControl]="taskControl"
        class="mr-2"
        type="text"
      />
      <button (click)="onClickAddTask()">Ajouter</button>
    </div>
    <one-table
      (clickRow)="onSelectTask($event)"
      [columns]="columns()"
      [datas]="datas()"
      [headerless]="true"
    ></one-table>
  </div>
  <ng-container class="expended-content" right-part>
    @if (selectedTask) {
      <one-task-details [task]="selectedTask" (update)="onUpdateTask($event)"></one-task-details>
    }
  </ng-container>
</one-layout>

<ng-template #stateCellTemplate let-task>
  <td (click)="onCheck(task)" class="task-state">
    @switch (task.state) {
      @case (TaskState.Todo) {
        <fa-icon class="task-todo" [icon]="faCircle"></fa-icon>
      }
      @case (TaskState.Done) {
        <fa-icon class="task-done" [icon]="faCircleCheck"></fa-icon>
      }
      @case (TaskState.Canceled) {
        <fa-icon class="task-canceled" [icon]="faTimesCircle"></fa-icon>
      }
    }
  </td>
</ng-template>

<ng-template #nameCellTemplate let-form="form" let-task>
  <td class="task-name">
    <input (blur)="onBlur(task)" [formControl]="form" class="input-invisible" />
  </td>
</ng-template>

<ng-template #trashCellTemplate let-task>
  <td class="task-delete">
    <button (click)="onDelete(task, $event)" class="btn-icon">
      <fa-icon [icon]="faTrashCan"></fa-icon>
    </button>
  </td>
</ng-template>
