@use "../../../styles/variables" as vars;

:host {
  width: 100%;
}

.grid {
  display: grid;

  & .header {
    background-color: vars.$color-light;
    grid-column: 1 / 999;
    border: vars.$border;
    border-top-left-radius: vars.$border-radius;
    border-top-right-radius: vars.$border-radius;
    padding: 10px 20px;
  }

  & .expended-content {
    padding: 8px;
    width: 100%;
    grid-column: 1 / 999;
  }
}
