ul,
.content {
  border: var(--border-gray);
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2px 10px 0 10px;
  border-bottom: none;
  border-radius: var(--border-radius) var(--border-radius) 0 0;

  & li {
    border: none;
    border-radius: 0;

    &:hover {
      border-bottom: 2px solid var(--color-main-hover);
    }

    &.isSelected {
      border-bottom: 2px solid var(--color-main);
      color: var(--color-main);
    }
  }

  & hr {
    box-shadow: none;
    width: 100%;
    margin: 0;
    border: none;
    border-top: var(--border-gray);
  }
}

.content {
  border-top: none;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: var(--padding-container);

  & .ctn-selected-tab {
    margin: 0 0 var(--margin-between-form-group) 0;
  }
}
