@use '../../../../styles/variables' as vars;

ul,
.content {
  border: vars.$border-gray;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2px 10px 0 10px;
  border-bottom: none;
  border-radius: vars.$border-radius vars.$border-radius 0 0;

  & li {
    border: none;
    border-radius: 0;

    &:hover {
      border-bottom: 2px solid vars.$color-main-hover;
    }

    &.isSelected {
      border-bottom: 2px solid vars.$color-main;
      color: vars.$color-main;
    }
  }

  & hr {
    box-shadow: none;
    width: 100%;
    margin: 0;
    border: none;
    border-top: vars.$border-gray;
  }
}

.content {
  border-top: none;
  border-radius: 0 0 vars.$border-radius vars.$border-radius;
  padding: vars.$padding-container;

  & .ctn-selected-tab {
    margin: 0 0 vars.$margin-between-form-group 0;
  }
}
