@use "../../../../styles/variables" as vars;

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & li {
    & button {
      border: none;
      border-bottom: 1px solid vars.$color-main-light;
      border-radius: 0;

      &:hover {
        border-color: vars.$color-main-hover;
      }

      &.isSelected {
        border-color: vars.$color-main;
        color: vars.$color-main;
      }
    }
  }
}
